/* components.css */
#loading {
    display: none;
    text-align: center;
    margin-top: 20px;
}
.result-item {
    background-color: #2c2c2c;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.result-info {
    flex-grow: 1;
}
.result-distance {
    background-color: #03dac6;
    color: #000000;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
}
#downloadButton {
    margin-top: 20px;
    background-color: #bb86fc;
    color: #000000;
}
#downloadButton:hover {
    background-color: #985eff;
}
#downloadNotification {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#searchSummary {
    background-color: #2c2c2c;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}
#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#pagination button {
    margin: 0 5px;
}
#currentPage {
    margin: 0 10px;
    line-height: 38px;
}
#filterMenu {
    background-color: #2c2c2c;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}
#filterMenu h3, #filterMenu h4 {
    color: #bb86fc;
    margin-top: 0;
}
#filterMenu input {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    font-size: 1em;
}
#filterMenu button {
    width: 100%;
    margin-top: 10px;
}
